<div class="container">
<!--<h1> <center>Your Tweets</center></h1>
<hr>-->

<div class="row">

	<div class="span9 center">
		<div class="span3">

			<div class="well well-small gray"><center>
				

				
			<img src= <%= current_user.avatar.url(:medium) %>
			class="img-polaroid">
			<h4><%= current_user.username %></h4> 
				<div class="small"><%= current_user.email %></div> 
				</center>
				
		</div>
			<%= render :partial => "form", :locals => { :tweet => @tweet } %>
		</div>
	</div>



	<div class="span5">	
		<div class="well">
		<table class="table">
			
				<tbody>
					<% @tweets.reverse_each do |t| %>
						<tr>
							<td>	<img src= <%= t.user.avatar.url(:small) %>
			class="img-rounded"> 

		</td>
							<td> <b><%= t.user.username %></b><div class="smaller pull-right"> <%= t.created_at %> </div><br> <%= t.message %><br>
								<%= link_to " Delete", tweet_path(t.id), :method => :delete, :class => "small pull-right", :confirm=>"Are you sure you want to delete?"%>
								<i class="icon-trash pull-right">&nbsp;</i>

							</td>
							
								
						</tr>

					<% end %>
				</tbody>
		</table>
		</div>
	</div>

</div> <!--ROW -->
</div> <!--CONTAINER -->